// ====================== Reset Global ====================== //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ====================== Mixin ====================== //
@mixin input {
  height: 40px;
  border: 2px solid #f5f5f5;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
}

// ====================== Mentor 1 ====================== //
.mentor_1 {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .aside_mentor {
    width: 400px;
    height: 100vh;
    background-image: url('./images/bg-main-desktop.png');

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 300px;
      background-image: url('./images/bg-main-mobile.png');
    }
  }

  .mentor_form {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    
    @media screen and (max-width: 768px) {
      margin-left: 0;
      padding-left: 20px;
      margin-top: 120px;
    }

    label {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    label.cvc {
      margin-left: 50px;

      @media screen and (max-width: 768px) {
        margin-left: 72px;
      }
    }

    .form_name {
      margin: 5px 0 20px;

      input {
        width: 51%;
        @include input;

        @media screen and (max-width: 768px) {
          width: 80%;
        }
      }
    }

    .form_number {
      margin: 5px 0 20px;

      input {
        width: 51%;
        @include input;

        @media screen and (max-width: 768px) {
          width: 80%;
        }
      }
    }

    .exp_inputs {
      margin: 5px 0 20px;

      input {
        width: 11%;
        @include input;

        @media screen and (max-width: 768px) {
          width: 24%;
        }
      }

      .eg {
        width: 25%;
        margin-left: 20px;
      }
    }

    .btn_mentor {
      all: unset;
      width: 50%;
      margin-top: 35px;
      background-color: rgb(9, 14, 79);
      color: #fff;
      padding: 10px 5px;
      border-radius: 5px;
      text-align: center;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #4a00e0;
      }

      @media screen and (max-width: 768px) {
        width: 77%;
      }
    }
  }

  .mentor_card1 {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-image: url('./images/bg-card-front.png');

    @media screen and (max-width: 768px) {
      top: 145px;
      left: 4%;
      max-width: 87%;
      height: 200px;
      z-index: 2;
    }

    .circle_one {
      position: absolute;
      top: 30px;
      left: 50px;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
    }

    .circle_two {
      position: absolute;
      top: 45px;
      left: 130px;
      width: 22px;
      height: 22px;
      background: transparent;
      border: 1px solid #f5f5f5;
      border-radius: 50%;
    }

    .card_footer {
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: #fff;

      .end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .mentor_card2 {
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 440px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-image: url('./images/bg-card-back.png');
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      top: 10px !important;
      top: 14%;
      left: 9%;
      max-width: 85%;
      height: 200px;
      z-index: 1;
    }

    span {
      color: #000;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 2px;
      position: absolute;
      right: 70px;

      @media screen and (max-width: 768px) {
        position: relative;
        top: 22px;
      }
    }
  }
}